<h1>Welcome</h1>
<h2>Timetable</h2>
<table>
  <h3>Monday</h3>
  <tbody>
    <% @mon_subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.date %></td>
        <td><%= subject.room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <h3>Tuesday</h3>
  <tbody>
    <% @tue_subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.date %></td>
        <td><%= subject.room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <h3>Wednesday</h3>
  <tbody>
    <% @wed_subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.date %></td>
        <td><%= subject.room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <h3>Thursday</h3>
  <tbody>
    <% @thu_subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.date %></td>
        <td><%= subject.room %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <h3>Friday</h3>
  <tbody>
    <% @fri_subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= subject.date %></td>
        <td><%= subject.room %></td>
      </tr>
    <% end %>
  </tbody>
</table>
