<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @subject.date %>
</p>

<p>
  <strong>Room:</strong>
  <%= @subject.room %>
</p>

<% if @subject.syllabus.start_with?("https://") %>
  <p>
    <strong>Syllabus:</strong>
    <%= link_to @subject.syllabus[0..30]+'...', @subject.syllabus %>
  </p>
<% end %>

<% if @subject.weblink.start_with?("http://") %>
  <p>
    <strong>Weblink:</strong>
    <%= link_to @subject.weblink[0..30]+'...', @subject.weblink %>
  </p>
<% end %>


<%= link_to 'Back', root_path %>
