<div class="pt-3 pb-3">
  <h3><%= @subject.name %></h3>
  <hr>
  <p>
    <strong>Date:</strong>
    <%= @subject.date %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= @subject.room %>
  </p>
</div>

<div class="pt-3 pb-3">
  <h4>関連リンク</h4>
  <hr>

  <% if @subject.syllabus.start_with?("https://") %>
    <p>
      <strong>Syllabus:</strong>
      <%= link_to @subject.syllabus[0..30]+'...', @subject.syllabus %>
    </p>
  <% end %>

  <% if @subject.weblink.start_with?("http") %>
    <p>
      <strong>Weblink:</strong>
      <%= link_to @subject.weblink[0..30]+'...', @subject.weblink %>
    </p>
  <% end %>
</div>

<%= link_to 'Back', root_path %>
