<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @subject.date %>
</p>

<p>
  <strong>Room:</strong>
  <%= @subject.room %>
</p>

<p>
  <strong>Syllabus:</strong>
  <%= link_to 'URL Link', @subject.syllabus %>
</p>

<% if @subject.weblink != 'なし' %>
  <p>
    <strong>Weblink:</strong>
    <%= link_to 'URL Link', @subject.weblink %>
  </p>
<% end %>


<%= link_to 'Back', root_path %>
